<p>Za login administratora:<br>
Username: admin<br>
Password: 0000</p><br>

<p>Za login korisnika: <br>
Username: korisnik<br>
Password: 0000</p><br>

<form method="post" action="login.php">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" name="submit" value="Login">
		</br>
</form>

<br><br/>

<p>Novi korisnik?	-	
		<a href="registracija.php">Registriraj se!</a></br>
</p>